.home-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main-home-container {
  width: 65%;
}
.home-content-container {
  width: 100%;
  height: 88%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  padding: 25px;
  background-position: center;
}
.home-word-cont {
  width: 55%;
  font-family: 'roboto';
  margin-top: 150px;
}
.home-heading {
  font-weight: bolder;
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
}
.home-description {
  font-weight: 300;
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
}
.search-btn {
  background-color: #6366f1;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  width: 130px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
}
